* {
    font-family: Roboto;
}

header {
    display: flex;
    height: 32px;
    background-color: hsl(215, 28%, 17%);
    
    
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-family: Roboto;
    color: white;
    align-items: center;
    margin-right: 16px;
}

.hero {
    background-color: hsl(215, 28%, 17%);
    display: flex;
    padding: 50px;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EA;
}

button {
    color: #F9FAF8;
    background-color: dodgerblue;
    border-radius: 8px;
}

.heroimage {
    padding: 24px;
    min-width: 0;
}



h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.figurecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figure img {
    border: 4px solid #3882f6;
    border-radius: 8px;
    height: 140px;
    width: 140px;
    
}

.quote {
    background-color: #e5e7eb;
    
}
blockquote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

h3 {
    color: #E5E7EA;
}

.action {
    background-color: #3882f6;
    margin: 60px;
    border-radius: 12px;
    padding: 12px;

}

footer {
    background-color: #1f2937;
    text-align: center;

}

footer p {
    color: #F9FAF8;
    font-size: 16px;
}